<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <title>Welcome to Tgworld</title>


    
  </head>
  <body>
    <nav class="nav navbar navbar-expand-sm bg-dark navbar-dark py-3 px-5 ">
        <div class="container-fluid ">
          <a href="#" class="navbar-brand border p-1 border-white">
            TgWorld
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu1" aria-controls="navmenu1" aria-expanded="false" aria-label="Toggle Navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div id="navmenu1" class="collapse navbar-collapse" >
    
    
            <ul class="navbar-nav justify-content-between text-center">
              <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Blog</a>
              </li>
             
    
            </ul>
    
            <ul class="navbar-nav ms-auto ">
              {% comment %} <li class="nav-item">
                <a href="#" class="nav-link ">Projects</a>
              </li> {% endcomment %}
             
              <li class="nav-item">
                <a href="#" class="nav-link btn btn-md text-light btn-outline-warning d-inline">Project</a>
              </li>
    
            </ul>
    
          </div>
    
        </div>
      </nav>

      <!-- Showcase -->
    <section
    class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
  >
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1>Want's to Speak <span class="text-warning"> English </span></h1>
          <p class="lead my-4">
            We focus on teaching our students the fundamentals of the latest
            and greatest technologies to prepare them for their first dev role
          </p>
          <button
            class="btn btn-primary btn-lg"
            data-bs-toggle="modal"
            data-bs-target="#enroll"
          >
            Start Now
          </button>
        </div>
        <img
          class="img-fluid w-50 d-none d-sm-block"
          src="{% static 'myapp/image/speak.png' %}"
          alt=""
        />
      </div>
    </div>
  </section>

    <!-- New Section for peoples -->
    <section class="p-5 bg-primary bg-gradient" id="people">

      <div class="container">
          <h2 class="text-center text-white mb-5">
              Our Team
          </h2>
          <p class="lead text-center text-white mb-5">

              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius beatae aliquid corporis ea eaque a
              dolorem quibusdam in praesentium iste.
          </p>
          <div class="row g-4">
              <div class="col-md-6 col-lg-3">
                  <div class="card bg-light">

                      <div class="card-body text-center">
                          <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3"
                              alt="img">

                          <h3 class="card-title mb-3">
                              Manish</h3>
                          <p class="card-text">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, ducimus.
                          </p>
                          <a href="#" class="">
                              <i class="bi bi-twitter text-dark mx-1"></i>
                              <i class="bi bi-facebook text-dark mx-1"></i>
                              <i class="bi bi-instagram text-dark mx-1"></i>
                              <i class="bi bi-linkedin text-dark mx-1"></i>
                          </a>

                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="card bg-light">

                      <div class="card-body text-center">
                          <img src="https://randomuser.me/api/portraits/women/13.jpg" class="rounded-circle mb-3"
                              alt="img">

                          <h3 class="card-title mb-3">
                              Anonymous</h3>
                          <p class="card-text">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, ducimus.
                          </p>
                          <a href="#" class="">
                              <i class="bi bi-twitter text-dark mx-1"></i>
                              <i class="bi bi-facebook text-dark mx-1"></i>
                              <i class="bi bi-instagram text-dark mx-1"></i>
                              <i class="bi bi-linkedin text-dark mx-1"></i>
                          </a>

                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-lg-3">
                  <div class="card bg-light">

                      <div class="card-body text-center">
                          <img src="https://randomuser.me/api/portraits/women/18.jpg" class="rounded-circle mb-3"
                              alt="img">

                          <h3 class="card-title mb-3">
                            Jai Shree Ram</h3>
                          <p class="card-text">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, ducimus.
                          </p>
                          <a href="#" class="">
                              <i class="bi bi-twitter text-dark mx-1"></i>
                              <i class="bi bi-facebook text-dark mx-1"></i>
                              <i class="bi bi-instagram text-dark mx-1"></i>
                              <i class="bi bi-linkedin text-dark mx-1"></i>
                          </a>

                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-lg-3">
                  <div class="card bg-light">

                      <div class="card-body text-center">
                          <img src="https://randomuser.me/api/portraits/men/71.jpg" class="rounded-circle mb-3"
                              alt="img">

                          <h3 class="card-title mb-3">
                              Network Issue
                          </h3>
                          <p class="card-text">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, ducimus.
                          </p>
                          <a href="#">
                              <i class="bi bi-twitter text-dark mx-1"></i>
                              <i class="bi bi-facebook text-dark mx-1"></i>
                              <i class="bi bi-instagram text-dark mx-1"></i>
                              <i class="bi bi-linkedin text-dark mx-1"></i>
                          </a>

                      </div>
                  </div>
              </div>

          </div>
      </div>
  </section>
  <section class="p-5">
    <div class="container">
        <div class="row text-center g-5">
            <div class="col-md">
                <div class="card bg-dark bg-gradient text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">

                            <i class="bi bi-laptop"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            Virtual Tour
                        </h3>
                        <p class="card-text py-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sunt ipsam debitis fugiat
                            magnam perspiciatis laboriosam aliquam est illo sit!
                        </p>
                        <a href="#" class="btn btn-primary mb-2">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card bg-secondary bg-gradient text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">

                            <i class="bi bi-star"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            Middle Tour
                        </h3>
                        <p class="card-text py-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sunt ipsam debitis fugiat
                            magnam perspiciatis laboriosam aliquam est illo sit!
                        </p>
                        <a href="#" class="btn btn-warning  mb-2">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card bg-dark bg-gradient text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">

                            <i class="bi bi-person-square"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            Right Card
                        </h3>
                        <p class="card-text py-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sunt ipsam debitis fugiat
                            magnam perspiciatis laboriosam aliquam est illo sit!
                        </p>
                        <a href="#" class="btn btn-primary mb-2">Read More</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<!-- Some more sections -->
<section id="learn" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="{% static 'myapp/image/11.png' %}" alt="img data" class="img-fluid">
            </div>
            <div class="col-md p-5">
                <h2 class="">
                    Learn More About
                </h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias itaque dolores sed sapiente
                    cum sit quam sunt rerum, repellendus amet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas nemo eum esse, quo
                    reprehenderit consequatur totam molestias at quas eaque inventore culpa aspernatur deserunt sed
                    minima ut? Aliquid, facilis explicabo?
                </p>
                <a href="#" class="btn btn-dark mt-3">Read More </a>
            </div>
        </div>
    </div>
</section>


<section id="learn" class="p-5 bg-dark">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-md p-5 text-light">
                <h2 class="">
                    Learn More About
                </h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias itaque dolores sed sapiente
                    cum sit quam sunt rerum, repellendus amet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas nemo eum esse, quo
                    reprehenderit consequatur totam molestias at quas eaque inventore culpa aspernatur deserunt sed
                    minima ut? Aliquid, facilis explicabo?
                </p>
                <a href="#" class="btn btn-warning mt-3">Read More </a>
            </div>
            <div class="col-md">
                <img src="{% static 'myapp/image/2.png' %}" alt="img data" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- contact us -->
<section class="p-5">
  <div class="container">
      <div class="row g-4">
          <div class="col-md">
              <h2 class="text-center mb-4">Contact Info</h2>
              <ul class="list-group list-group-flush lead">
                  <li class="list-group-item">
                      <span class="fw-bold">Location: </span>dfgdfg
                  </li>
                  <li class="list-group-item">
                      <span class="fw-bold">Phone: </span> 533443453
                  </li>
                  <li class="list-group-item">
                      <span class="fw-bold">Email: </span> kunal@gmail.com
                  </li>



              </ul>
          </div>
          <div class="col-md text-center">
              <h2 class="fw-bold ">

                  Some Text Here
              </h2>

          </div>
      </div>
  </div>
</section>

 <footer class="p-5 bg-dark text-white  position-relative">
  <div class="container">
    <div class="row g-2">
      <div class="col-md">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>

        </ul>
      </div>

      <div class="col-md">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Contribute</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="container text-center">
    <p class="lead">Copyright &copy; 2022 Teamkunal</p>
    <a href="#" class="position-absolute bottom-0 end-0 p-5">
      <i class="bi bi-arrow-up-circle h1"></i>
    </a>
  </div>
  <div class="text-center">
    <ul class="social-icons">

      <li><a class="facebook" href="#"></i><i class="bi bi-facebook text-dark mx-1"></i></a></li>
      <li><a class="twitter" href="#"><i class="bi bi-twitter text-dark mx-1"></i></a></li>
      <li><a class="whatsapp" href="#"><i class="bi bi-whatsapp text-dark mx-1"></i></i></a></li>
      <li><a class="linkedin" href="#"><i class="bi bi-linkedin text-dark mx-1"></i></i></a></li>
    </ul>
  </div>
</footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

